<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<main>
    <div class="row mt-4 pt-5 align-item-center justify-content-center">
        <div class="col-xs-2 col-md-5 col-lg-4">
            <div class="d-flex flex-nowrap" style="margin-bottom:70px">
                <div class="d-flex flex-column flex-shrink-0 p-3" style="background-color: #06283D;width: 280px; margin-top:10px;">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item text-white">
                            <a href="#" class="nav-link">Our Company</a>
                        </li><hr class="text-white">
                        <li>
                            <a href="#" class="nav-link text-white">Our Mission</a>
                        </li><hr class="text-white">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row col-xs-7 col-md-7 col-lg-7">   
            <h1>Poultry Of The Highest Quality</h1>
            <hr class="bg-dark mt-2 d-inline-block mx-auto" style="width: 660px; height:3px;">
            <p class="text-muted">Dolly farm is a high quality driven farm, established in 2022. We pride ouselves for giving our customers best quality products from poultry farming equipment
                to the actual poultry products from our own farm. currently hiring 15 employees in the community it's based and looking to expand as soon as possible. We 
                also offer training on poultry farming, if you are around the area feel free to come in and get to know more about us. 
            </p>
            <img class="img-responsive img-fluid max-width: 100%" style="height:450px;" src="{% static "images/Chickens1.jpg" %}">
            <div class="container text-center mt-5">
                <h1 class="mb-0">Meet our Team</h1><span>This is our dedicated managment team, they keep the farm opperating in good conditions in all times.</span></div>
            <div class="container mt-3" style="margin-bottom:50px">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/uppKNuF.jpg" width="90" height="100">
                            <h5 class="mt-3 name">Samuel Plamer</h5><span class="work d-block">Happy Chickens</span><span class="work d-block">Founder</span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                            <div class="mt-4">
                                <h6 class="v-profile">View Profile</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/oJmLthK.jpg" width="90">
                            <h5 class="mt-3 name">Nancy Markus</h5><span class="work d-block">Happy Chickens</span><span class="work d-block">CEO</span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                            <div class="mt-4">
                                <h6 class="v-profile">View Profile</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/HFpxxJz.jpg" width="90">
                            <h5 class="mt-3 name">Martha Col</h5><span class="work d-block">Happy Chickens</span><span class="work d-block">Manager</span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                            <div class="mt-4">
                                <h6 class="v-profile">View Profile</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
            <div class="mb-5">
                <h2 class="text-center ">Our Values</h2>
                <h4><strong>MISSION:</strong></h4> To generate more wealth in the hands of small poultry farmers by improving their poultry skills and capacities and by demonstrating 
                    new ways in which they can better manage their available resources. To bring about changes in the lives of the people in the town by giving them jobs and
                    giving training to those willing.
                    <p></p>
                <p><strong>VISION:</strong>To promote sustainable agro-based strategies in order to improve the livelihood of rural poor peoples in general and resource poor farmersin particular.
                    To increase the rural income through improvement of:
                    Agricultural development
                    Better Veterinary service
                    Animal husbandry productivity
                    Aquaculture and fisheries management and production
                    Providing training to unemployed youth and women in particular.
                </p>
              </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}