<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                Dolly & Sabbi
            </div>
            <div class="list-group list-group-flush my-3">
                  <span class="fs-5 fw-bold px-4"> Dashboard </span>
                <a href="{% url 'store:add-category' %}" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Category </span>
                </a>
                <a href="{% url 'store:add-product' %}" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Product </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Store Details </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Contact Info </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Legal Info </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text">
                    <span class="px-4">Reply Mails </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <span class="fs-5 fw-bold px-2">Orders</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    <i class="bi bi-power"></i></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>
            </nav>

            <div class="container-fluid px-4">
                <hr class="bg-dark mt-2 mb-2 d-inline-block mx-auto" style="width: 100%; height:3px;">               
                <div class="p-2">
                    <h3>Add Category</h3>
                    <hr class="bg-dark mt-2 mb-2 d-inline-block mx-auto" style="width: 100%; height:1px;">

                    {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %} style="list-style-type:none !important;">
                        {{message}}
                    </li>
                    {% endfor %}

                    <form action="" style="width:50%;" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="btn-warning go-back-btn h3-white mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>
{% endblock %}
