{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Farm {% endblock %}</title>
    {% comment %} Meta for creating responsivenes {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} custom stylesheet css {% endcomment %}
    <link href="{% static "styles/style.css"%}" rel="stylesheet">
    <link href="{% static "styles/dashboard_style.css"%}" rel="stylesheet">
    {% comment %} Bootstrap link and icon links plus scripts {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|PT+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <header header class="pb-2 mb-3 border-bottom" style="background-color: #06283D;">
      <nav class="navbar navbar-dark navbar-expand-md border-bottom d-flex p-2 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="container-fluid">
          <a class="navbar-brand text-white d-flex align-items-center mb-2 mb-lg-0 text-decoration-none" href="/"><img class=" logo img-responsive img-fluid" src="{% static "images/logo.png" %}"></a>
          <!-- Button trigger modal -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#navbarModal" aria-controls="navbarModal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="navbarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background-color: #06283D;">
                <div class="modal-header">
                  <img class=" logo img-responsive img-fluid" src="{% static "images/logo.png" %}">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <div class="modal-line">
                    <a class="nav-link px-2 link-light" aria-current="page" href="{% url 'store:home'%}">Home</a>
                  </div>
                  <div class="modal-line">
                    <a class="nav-link px-2 link-light" href="/about">About</a>
                  </div>
                  <div class="modal-line">
                    <a class="nav-link px-2 link-light" href="/quality">Quality</a>
                  </div>
                  <div class="modal-line">
                    <a class="nav-link px-2 link-light" href="/products">Products</a>
                  </div>
                  <div class="modal-line">
                    <a class="nav-link px-2 link-light" href="/contacts">Contacts</a>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="loginBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-fill"></i>Account
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark text-small">
      
                      {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item active" href="{% url 'account:dashboard'%}">My Profile</a></li>
                      {% else %}
                        <li><a class="dropdown-item active" href="{% url 'account:register'%}">Register</a></li>
                      {% endif %}
                      {%if request.user.is_staff == True %}
                        <li><a class="dropdown-item " href="{% url 'store:dashboard'%}">Dashboard</a></li>
                      {% endif %}
                        <li><hr class="dropdown-divider"></li>
                      {% if request.user.is_authenticated %} 
                        <li><a class="dropdown-item" href="{% url "account:logout" %}">Logout</a></li>
                      {% else %}
                        <li><a class="dropdown-item"href="{% url "account:login" %}">Login</a></li>
                      {% endif %}
      
                    </ul>
                  </div>
                  <a type="button" role="button" href="{% url "basket:basket_summary" %}"
                    class="btn btn-outline-secondary border-0 basket-btn">

                    {% with total_qty=basket|length %}
                      <div id="basket-qty" class="basket-qty">
                        {% if total_qty > 0 %}
                          {{ total_qty }}
                        {% else %}
                          0
                        {% endif %}
                      </div>
                    {% endwith %}
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white"
                        class="bi bi-cart3" viewBox="0 0 16 16">
                        <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                      </svg>
                    </div>
                    <span class="fs15 fw500" id="basket">Basket</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="mb-md-0 nav col-12 col-md-auto col-lg-auto me-lg-auto mb-2 justify-content-center">
              <li class="nav-item active">
                <a class="nav-link px-2 link-light" aria-current="page" href="{% url 'store:home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2 link-light" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2 link-light" href="/quality">Quality</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2 link-light" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2 link-light" href="/contacts">Contacts</a>
              </li>
            </ul>
            <form class="d-flex" id="searchForm">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="loginBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>Account
              </button>
              <ul class="dropdown-menu dropdown-menu-dark text-small">

                {% if request.user.is_authenticated %}
                  <li><a class="dropdown-item active" href="{% url 'account:dashboard'%}">My Profile</a></li>
                {% else %}
                  <li><a class="dropdown-item active" href="{% url 'account:register'%}">Register</a></li>
                {% endif %}
                {%if request.user.is_staff == True %}
                  <li><a class="dropdown-item " href="{% url 'store:dashboard'%}">Dashboard</a></li>
                {% endif %}
                  <li><hr class="dropdown-divider"></li>
                {% if request.user.is_authenticated %} 
                  <li><a class="dropdown-item" href="{% url "account:logout" %}">Logout</a></li>
                {% else %}
                  <li><a class="dropdown-item"href="{% url "account:login" %}">Login</a></li>
                {% endif %}

              </ul>
            </div>

            <a type="button" role="button" href="{% url "basket:basket_summary" %}"
            class="btn btn-outline-secondary border-0 basket-btn">

            {% with total_qty=basket|length %}
            <div id="basket-qty" class="basket-qty">
                {% if total_qty > 0 %}
                {{ total_qty }}
                {% else %}
                0
                {% endif %}
            </div>
            {% endwith %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white"
                    class="bi bi-cart3" viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
            </div>
            <span class="fs15 fw500" id="basket">Basket</span>
        </a>
          </div>
        </div>
      </nav>
    </header>
    <div id="content">{% block content %} {% endblock %}</div>
      <div class="container-fluid" style="background-color: #14425f;">
        <footer class="py-5 px-5">
          <div class="row">
            <div class="col-5 col-md-2 mb-3 text-white">
              <h5>Branches</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2 text-muted"><Durban - 0875422191</li>
                <li class="nav-item mb-2 text-muted">Cape-Town - 0879665434</li>
                <li class="nav-item mb-2 text-muted">Pretoria - 0123659874</li>
                <li class="nav-item mb-2 text-muted">Head-Office - 0123698754</li>
              </ul>
            </div>
          
            <div class="col-5 col-md-2 mb-3 text-white">
              <h5>Trading hours.</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2 text-muted"><strong>Monday - Saturday</strong></li>
                <li class="nav-item mb-2 text-muted">08H00 to 17H00</li>
                <li class="nav-item mb-2 text-muted"><strong>Sunday/Holidays</strong></li>
                <li class="nav-item mb-2 text-muted">08H00 to 13H00</li>
              </ul>
            </div>
          
            <div class="col-5 col-md-2 mb-3 text-white">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'store:home'%}" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
                <li class="nav-item mb-2"><a href="/quality" class="nav-link p-0 text-muted">Quality</a></li>
                <li class="nav-item mb-2"><a href="/products" class="nav-link p-0 text-muted">Products</a></li>
              </ul>
            </div>
          
            <div class="col-md-5 offset-md-1 mb-3 text-white">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          
          <div class="d-flex flex-column flex-sm-row justify-content-between border-top text-white">
            <p>&copy; 2022 ET Malaleka, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="https://x.com/mannymaneuver?t=1tKp1FCo1z0bhBCcRm9kg&s=09"><i class="bi bi-twitter" style="font-size:25px;color:#2196F3"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/manny_maneuver?igshid=OGQ5ZDc2ODk2ZA=="><i class="bi bi-instagram" style="font-size:25px;color:#2196F3"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/jeso.kreste.9404"><i class="bi bi-facebook" style="font-size:25px;color:#2196F3"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="https://wa.me/+27814535114"><i class="bi bi-whatsapp" style="font-size:25px;color:#2196F3"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </div>
  </body>
</html>